 :root{
    /* Colors */

    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey-700: hsl(0, 0%, 20%);
    --Grey-800: hsl(0, 0%, 12%);
    --Grey-900: hsl(0, 0%, 8%);

    /* Typography */
    
    --Font-size-heading-1: 1.5rem;
    --Font-size-heading-2: 14px;
    --Font-size-paragraph: 14px;

    /* Font */

    --Font-Family: Inter;
    --Weight-Heading-1: 700;
    --Weight-Heading-2: 600;
    --Weight-paragraph: 400;
}

@font-face {
    font-family: Inter;
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--Grey-900);
    font-size: var(--Font-size-paragraph);

    main{
        height: 100vh;
        color: var(--White);
        font-family: var(--Font-Family);

        display: flex;
        align-items: center;
        justify-content: center;

        article{
            width: 340px;
            background-color: var(--Grey-800);
            border-radius: 10px;
            padding: 24px;
            header{
                text-align: center;
                img{
                    border-radius: 50%;
                    width: 92px;
                }
                
                h1{
                    margin-block-start: 24px;
                    font-weight: var(--Weight-Heading-2);
                    font-size: 24px;
                    
                }
                
                p{
                    color: var(--Green);
                    margin-block-start: 8px;
                    font-weight: var(--Font-size-heading-1);
                }
            }

            section{
                text-align: center;
                
                p{
                    margin-block-start: 24px;
                    margin-block-end: 24px;
                }
    
                ul{
                    list-style: none;
                    width: 100%;
    
                    li{
                        background-color: var(--Grey-700);
                        padding-block: 16px;
                        text-align: center;
                        margin-block-start: 16px;
                        border-radius: 8px;

                        &:active, &:hover {
                            background-color: var(--Green);
                            color: var(--Grey-900);
                            font-weight: var(--Font-size-heading-2);
                        }

                        a{
                            text-decoration: none;
                            color: inherit;
                        }
                    }
                }
            }
        }
    }
}