@font-face {
    font-family: "Inter-bold-font";
    src: url(assets/fonts/static/Inter-Bold.ttf);
}
@font-face {
    font-family: "Inter-regular-font";
    src: url(assets/fonts/static/Inter-Regular.ttf);
}
@font-face {
    font-family: "Inter-semibold-font";
    src: url(assets/fonts/static/Inter-SemiBold.ttf);
}
@font-face {
    font-family: "Inter-varible-font";
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
:root{
    /* Primary */
    --Green: hsl(75, 94%, 57%);
    --font-family-bold: "Inter-bold-font";
    --font-family-semibold: "Inter-semibold-font";
    --font-family-regular: "Inter-regular-font";
    --font-family-Primary: "Inter-varible-font";
    
    /*Neutral */
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --Dark-Grey: hsl(0, 0%, 12%);
    --Off-Black: hsl(0, 0%, 8%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-Primary);
}
body{
    background-color: var(--Off-Black);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
article{
    background-color: var(--Dark-Grey);
    width: 325px;
    border-radius: 10px;
}
article figure{
    display: block;
    margin: 20px;
}
article figure img{
    display: block;
    margin: auto;
    width: 90px;
    border-radius: 50%;
    margin-bottom: 20px;
}
article figure figcaption{
    text-align: center;
}
article figure figcaption h1{
    cursor: pointer;
    font-size: 20px;
    color: var(--White);
    font-family: var(--font-family-semibold);
    margin-bottom: 13px;
}
article figure figcaption h2{
    cursor: pointer;
    font-size: 12px;
    color: var(--Green);
    margin-bottom: 30px;
    
}
article figure figcaption p{
    font-family: var(--font-family-semibold);
    font-size: 13px;
    color: var(--White);
    /* margin-bottom: px; */
}
article section{
    margin: 25px 0;
}
article section a{
    display: block;
    background-color: var(--Grey);
    margin: 16px 22px;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    font-family: var(--font-family-semibold);
    color: var(--White);
    text-decoration: none;
}
article section a:hover{
    background-color: var(--Off-Black);
    
}
footer{
    position: absolute;
    bottom: 0;
}